@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
	font-family: "Montserrat", sans-serif;
	padding: 0;
	margin: 0;
}

p {
	text-decoration: none;
	color: #24252A;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 10%;
	/*Position of nav to blend with vid*/
	position: relative;
}

form {
	display: inline-block;
}

.navbar {
	background: transparent;
}

.navbar li, p, {
	display: inline;
	transition: all 0.3s ease 0s;
}

.navbar li {
	list-style: none;
}

.navbar button {
	border: none;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 17.5px;
	background: none;
}

 .navbar-left button:hover {
	transition: all 1s ease 0s;
	background-color: rgba(38, 38, 38, 0.05);
}

.login-btn button {
	border-radius: 10px;
	border: none;
	padding: 12px 28px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	background: #1ed760;
	font-size: 17.5px;
	color: white;
}

.logged-in {
	display: inline;
	position: absolute;
	right: 0;
	padding-right: 10%;
}

.navbar-left {
	display: inline;
	position: absolute;
}
