@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*
* Colour palette: https://coolors.co/export/pdf/f61067-ffc857-51ff9e-00f0b5-437c90
*/

* {
	font-family: "Montserrat", sans-serif;
	padding: 0;
	margin: 0;
}

.header h1, hr {
	text-align:center;
	margin: 0 auto;
}

.header h1 {
	padding: 30px;
}

.search {
	width: 100%;
  text-align:center;
	padding-top: 40px;
}

.submit-txt, .submit-btn {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-txt {
	border: none;
	padding: 15px;
	border-radius: 5px 0px 0px 5px;
	width: 30%;
}

.submit-btn {
	border: none;
	background: linear-gradient(150deg, #00ff80, #4cff9b, #74ffb7, #97ffd3, #b8fff0, #d8ffff);
	color: white;
	cursor: pointer;
	border-radius: 0px 5px 5px 0px;
	padding: 16.5px 0px 16px 0px;
	width: 5%;
}

.home-btn {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	grid-gap: 10px; /*5px*/
	padding: 40px 10% 10% 10%;
}

.home-btn button {
	border: none;
	cursor: pointer;
	padding-top: 28.125%; /*56.25 (16:9 ratio) / 2*/
	padding-bottom: 28.125%; /*56.25 (16:9 ratio) / 2*/
}

.home-btn a {
	font-size: 20px;
	visibility: hidden;
	transition: 0s;
}
