/*Navbar changes*/
.login-btn button {
  background: #F61067;
}

/*template changes*/
.colour-overlay {
  background: rgb(246,16,103,0.3);
}

.header-overlay {
  background: rgb(246,16,103);
}

.first-child:hover, .middle-child:hover, .second-last-child:hover, .last-child:hover {
  border: 2px solid #F61067;
  background: #F61067;
}

/*Search bar changes*/

.search {
	width: 100%;
  text-align:center;
	padding-top: 40px;
}

.submit-txt, .submit-btn {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-txt {
	border: none;
	padding: 15px;
	border-radius: 5px 0px 0px 5px;
	width: 30%;
}

.submit-btn {
	border: none;
	background: #F61067;
	color: white;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 0px 5px 5px 0px;
	padding: 14px 0px 16px 0px;
	width: 5%;
}

hr {
	text-align:center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 150px;
}

.search-container {
  margin-top: -40px;
}

.result-container {
  padding: 2.5% 0% 2.5% 10%;
  margin-top: -150px;
  font-size: 15px;
}
